{% if user.avgGameTime %}

{# Average time of quiz passing #}
{% set days = (user.avgGameTime / (1000 * 60 * 60 * 24))|round %}
{% set hours = ((user.avgGameTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))|round %}
{% set minutes = ((user.avgGameTime % (1000 * 60 * 60)) / (1000 * 60))|round %}
{% set seconds = ((user.avgGameTime % (1000 * 60)) / 1000)|round %}

<div class="user-avg-game-time">
    <p>Среднее время игры:</p>
    <div class="avg-game-time">
        <p>
            {% if days %}
                {{ days }} д
            {% endif %}

            {% if hours %}
                {{ hours }} ч
            {% endif %}

            {% if minutes %}
                {{ minutes }} м
            {% endif %}

            {% if seconds %}
                {{ seconds }} с
            {% endif %}
        </p>

    </div>
</div>
{% endif %}
