{% extends 'base.html.twig' %}

{% block title %}Hello AnswerController!{% endblock %}

{% block body %}

    <a href={{ path('admin_answers_create') }}>Add answer</a>

    {% if answers == null %}
        <h1>No answers</h1>
    {% else %}
    <table>
        <thead>
            <tr>
                <td>Answer</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.text }}</td>
                    <td>
                        <a href={{ path('admin_answers_edit', {'id': answer.id}) }}>Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
