{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}

    <table>
        <thead>
        <tr>
            <td>Question</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href={{ path('admin_question_info', {'id': question.id}) }}>{{ question.text }}</a></td>
                <td><a href={{ path('admin_questions_update', {'id': question.id}) }}>edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
