{% extends 'admin_base.html.twig' %}

{% block title %}Question Info{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <div class="question-info">
                <h4>Вопрос: {{ question.text }}</h4>
                <h4>Создал вопрос: <a href="{{ path('app.profile.info', {'nickname': question.user.nickname}) }}">{{ question.user.nickname }}</a></h4>
            </div>
        </div>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Ответ</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer.text }}</td>
                        {% if answer.isCorrect %}
                            <td>✓</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
