{% extends 'admin_base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}

    <div class="container">

        <div>
            <div class="question-info">
                <h4>QUESTION:</h4>
                <span>{{ question.text }}</span>
            </div>
        </div>

        <div class="question-buttons">
            <a href="{{ path('admin_questions_update', {'id': question.id}) }}" class="btn btn-primary">Edit</a>
        </div>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Answer</th>
                <th scope="col">Is correct</th>
            </tr>
            </thead>

            <tbody>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer.text }}</td>
                        {% if answer.isCorrect %}
                            <td>✓</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="buttons-footer">
            <a href="{{ path('admin_questions_show_all') }}" class="btn btn-outline-dark">All questions</a>
        </div>
    </div>

{% endblock %}
