.font-weight-light {
    font-size: x-large;
}
.checkbox-sized {
    margin: 20px 20px 50px;
    transform:scale(2.5);
    opacity:0.8;
    cursor:pointer;
}
div.form-group > div{
    display: inline-block;
}