body {
    background-color: #e9ecf3;
}
.quiz-check-header-buttons {
    margin-top: 30px;
}
.button-confirm {
    float: left;
}
.button-deny {
    float: right;
}
.content {
    margin-top: 30px;
    display: flex;
}
.quiz-name {
    font-size: 20px;
}
.quiz-name p {
    margin: 0;
    word-break: break-word;
}
.quiz-author p {
    word-break: break-word;
}
.quiz-info {
    width: 25%;
}
.quiz-questions {
    width: 75%;
}
.quiz-name-image-center {
    text-align: center;
}
.question {
    margin-top: 10px;
}
.answer {
    display: flex;
}
.answer-isCorrect {
    width: 20%;
    position: relative;
    height: 5em;
    margin-left: 5px;
}
.answer-isCorrect p {
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}
.correct-answer {
    font-size: 40px;
}
.quiz-info {
    background: #FFFFFF;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    height: auto;
}
.answer-text {
    word-break: break-word;
}
@media (max-width: 991px) {
    .button-deny {
        left: 70%;
    }

    .quiz-info {
        width: 400px;
    }
}