{% extends 'admin_base.html.twig' %}

{% block title %}Hello ViolationController!{% endblock %}

{% block body %}
    <style>
        #violation_description {
            margin-bottom: 10px;
        }
    </style>

    <div class="container">
        <h3>Изменение пункта нарушений '{{ violation.name }}'</h3>
        {{ form(form) }}
    </div>
{% endblock %}
