{% extends 'admin_base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href={{ asset('css/main-page.css') }}>
    </head>

    <div class="container-fluid">
        <div class="info">
            <div class="description">
                <p class="font-weight-light">GitHub: <a href="https://github.com/alex-bobrik/quiz/">https://github.com/alex-bobrik/quiz/</a></p>
            </div>
        </div>
    </div>
{% endblock %}
