{% extends 'admin_base.html.twig' %}

{% block title %}Новая категория{% endblock %}

{% block body %}

    <style>
        #quiz_category_name {
            margin-bottom: 10px;
        }
    </style>

    <div class="container">
        <h3>Создание новой категории</h3>
        {{ form(form) }}
    </div>


{% endblock %}
