{% extends 'admin_base.html.twig' %}

{% block title %}Изменить категорию{% endblock %}

{% block body %}

    <style>
        #quiz_category_name {
            margin-bottom: 10px;
        }
    </style>

    <div class="container">
        <h3>Изменение названия категории {{ category.name }}</h3>
        {{ form(form) }}
    </div>


{% endblock %}
