{% extends 'base.html.twig' %}

{% block title %}Hello QuizCategoryController!{% endblock %}

{% block body %}

    {% for category in categories %}
        <p>{{ category.name }}</p>
    {% endfor %}

{% endblock %}
